## Chapter 2, Exercise 1  

Repeating my advice from the previous chapter, whenever you learn a new feature, you should try it out in interactive mode and make errors on purpose to see what goes wrong.
-We’ve seen that n = 42 is legal. What about 42 = n?

-How about x = y = 1?

-In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

-What if you put a period at the end of a statement?

-In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [3]:
# Chapter 2, Exercise 1 
n = 42
print(n)

42

In [4]:
# Chapter 2, Exercise 1 
42 = n
print (42)

SyntaxError: cannot assign to literal (1537387206.py, line 1)

In [5]:
# Chapter 2, Exercise 1 
x = y = 1
print(x)

1

In [208]:
# Chapter 2, Exercise 1 
x = 1 + 2
print(x)

3

In [210]:
x = 1 + 3. #Python expects that "." indicates a fload?
print(x)

4.0

In [115]:
# Chapter 2, Exercise 1 
xy

NameError: name 'xy' is not defined

**Chapter 2, Exercise 2 (a)**
Practice using the Python interpreter as a calculator:
-The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

**Chapter 2, Exercise 2 (b)**
-Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

**Chapter 2, Exercise 2 (c)**
-If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [169]:
# Chapter 2, Exercise 2 (a)
import numpy
from math import pi

volume_sphere = 4/3 * pi * 5**3
print("The volume of the sphere is: ", volume_sphere)

The volume of the sphere is:  523.5987755982989

In [183]:
# Chapter 2, Exercise 2 (b)
cover_price_of_one_book = 24.95
cover_price_of_one_book_bookstore = cover_price_of_one_book * 40 / 100
cover_price_60_books = cover_price_of_one_book_bookstore * 60
shipping_costs_one_book_bookstore = 3
shipping_costs_59_copies = 0.75 * 59
shipping_costs_60_books = shipping_costs_one_book_bookstore + shipping_costs_59_copies
total_costs_60_copies = cover_price_60_books + shipping_costs_60_books
total_costs_60_copies = round(total_costs_60_copies, 3)
print("The toal costs for 60 copies is: £" , total_costs_60_copies)

The toal costs for 60 copies is: £ 646.05

In [201]:
# Chapter 2, Exercise 2 (c)
leaving_house_hours= 6
leaving_house_mins= 52
leaving_house_sec= 0

mile_easy_peace_mins= 8
mile_easy_peace_sec= 15

miles_fast_mins= 7
miles_fast_sec= 12

time_after_1mile_mins= leaving_house_mins + mile_easy_peace_mins
print ("minutes after 1 mile: ", time_after_1mile_mins)
time_after_1mile_sec= leaving_house_sec + mile_easy_peace_sec
print("seconds after 1 mile: ", time_after_1mile_sec)
time_after_1mile_hours= leaving_house_hours +1
print("hours after 1 mile: ",time_after_1mile_hours)
print ("total time after 1 mile: ", time_after_1mile_hours, ": 0",":",time_after_1mile_sec )

time_after_4miles_mins= mile_easy_peace_mins*3
print ("minutes after 4 miles: ", time_after_4miles_mins)
time_after_4miles_sec= mile_easy_peace_sec*3 + mile_easy_peace_sec
print ("seconds after 4 miles: ", time_after_4miles_sec)
modified_minutes_after_4miles= 25
modified_seconds_after_4miles= 0
print ("total time after 4 miles: ", time_after_1mile_hours, ":", modified_minutes_after_4miles, ":",time_after_1mile_sec )

breakfast_time_mins= modified_minutes_after_4miles + mile_easy_peace_mins
print(breakfast_time_mins)
breakfast_time_sec= time_after_1mile_sec + time_after_1mile_sec
print(breakfast_time_sec)
breakfast_time_hours= 7

print("Breakfast time is at: ", breakfast_time_hours, ":", breakfast_time_mins, ":", breakfast_time_sec)

minutes after 1 mile:  60
seconds after 1 mile:  15
hours after 1 mile:  7
total time after 1 mile:  7 : 0 : 15
minutes after 4 miles:  24
seconds after 4 miles:  60
total time after 4 miles:  7 : 25 : 15
33
30
Breakfast time is at:  7 : 33 : 30

## Chapter 8, Exercise 1  
Read the documentation of the string methods at http://docs.python.org/3/library/stdtypes.html#string-methods. You might want to experiment with some of them to make sure you understand how they work. strip and replace are particularly useful.
The documentation uses a syntax that might be confusing. For example, in find(sub[, start[, end]]), the brackets indicate optional arguments. So sub is required, but start is optional, and if you include start, then end is optional.

In [38]:
#Chapter 8, Exercise 1 
fruits = ["banana", "apple"]
fruits.append("peach")
# Add the string "peach" from the list
fruits

['banana', 'apple', 'peach']

In [41]:
fruits = ["banana", "apple"]
fruits.remove("apple")
# Remove the string "apple" from the list
fruits

['banana']

In [127]:
a = "banana"
b = a.upper()
#print the string "banana" in uppercases
b

'BANANA'

In [128]:
a = "STRAWBERRY"
b = a.lower()
#print the string "STRAWBERRY" in lowercases
b

'strawberry'

In [129]:
a = "STRAWBERRY"
#print the second and third chartcters of the string "STRAWBERRY"
print(a[1:3])

TR

In [134]:
me = "I             like            pizza"
# Remove white space by strip function and split into single words
e = me.strip().split()
print(e)

['I', 'like', 'pizza']

## Chapter 8, Exercise 2  
There is a string method called count that is similar to the function in Section 8.7. Read the documentation of this method and write an invocation that counts the number of a’s in 'banana'.

In [42]:
#Chapter 8, Exercise 2
n = "banana"
#print how many times letter a is counted in the string
print(n.count('a'))

3

## Chapter 8, Exercise 3
A string slice can take a third index that specifies the “step size”; that is, the number of spaces between successive characters. A step size of 2 means every other character; 3 means every third, etc.
>>> fruit = 'banana'
>>> fruit[0:5:2]
'bnn'
A step size of -1 goes through the word backwards, so the slice [::-1] generates a reversed string.
Use this idiom to write a one-line version of is_palindrome from Exercise 3.

In [65]:
#Chapter 8, Exercise 3
fruit = "banana"
#print the string from the end to the beginning
fruit[::-1]

'ananab'

## Chapter 8, Exercise 4  
The following functions are all intended to check whether a string contains any lowercase letters, but at least some of them are wrong. For each function, describe what the function actually does (assuming that the parameter is a string).

def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

def any_lowercase2(s)
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

In [135]:
# Print true/false in relation to each letter of the string "Banana" being lower or capital. 
# In this case only the initial is capital, which returns to true.
s = "Banana"
for c in s:
    if c.islower():
        print(True)
    else:
        print(False)

False
True
True
True
True
True

In [147]:
# "c" is always lower, so it will be always true. 
s = "Banana"
for c in s:
    if "c".islower():
        print(True)
    else:
        print(False)

True
True
True
True
True
True

In [138]:
# The first letter of the string is capital, which returns to False, the other letters are lower, 
# which returns to True. 
s = "Banana"
for c in s:
    flag = c.islower()
    print(flag)

False
True
True
True
True
True

In [139]:
#Or returns always True, except when we have "False False", when it returns False, as per the letter B.
s = "Banana"
flag = False
for c in s:
    flag = flag or c.islower()
    print(flag)

False
True
True
True
True
True

In [158]:
# The first letter of the string is capital, which returns to False, the other letters are lower, 
# which returns to True.
s = "Banana"
flag = False
for c in s:
    if not c.islower():
        print(False)
print(True)

False
True

## Chapter 8, Exercise 5  
A Caesar cypher is a weak form of encryption that involves “rotating” each letter by a fixed number of places. To rotate a letter means to shift it through the alphabet, wrapping around to the beginning if necessary, so ’A’ rotated by 3 is ’D’ and ’Z’ rotated by 1 is ’A’.
To rotate a word, rotate each letter by the same amount. For example, “cheer” rotated by 7 is “jolly” and “melon” rotated by -10 is “cubed”. In the movie 2001: A Space Odyssey, the ship computer is called HAL, which is IBM rotated by -1.

Write a function called rotate_word that takes a string and an integer as parameters, and returns a new string that contains the letters from the original string rotated by the given amount.

You might want to use the built-in function ord, which converts a character to a numeric code, and chr, which converts numeric codes to characters. Letters of the alphabet are encoded in alphabetical order, so for example:

>>> ord('c') - ord('a')
2
Because 'c' is the two-eth letter of the alphabet. But beware: the numeric codes for upper case letters are different.
Potentially offensive jokes on the Internet are sometimes encoded in ROT13, which is a Caesar cypher with rotation 13. If you are not easily offended, find and decode some of them. Solution: http://thinkpython2.com/code/rotate.py.

In [159]:
def rotate_word(word, shift):
    """Uses Ceasar cypher to encrypt given word using given shift."""
    rotated_word = ''
    for letter in word:
        rotated_word += chr(ord(letter) + shift)
    return rotated_word

print(rotate_word('cheer', 7))
print(rotate_word('IBM', -1))

jolly
HAL